<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studyagent.mapper.QuestionMapper">

    <select id="selectRandomQuestion" resultType="com.studyagent.entity.Question">
        SELECT * FROM t_question
        WHERE subject_id = #{subjectId}
        AND del = 0
        <if test="excludeIds != null and excludeIds.size() > 0">
            AND id NOT IN
            <foreach collection="excludeIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        ORDER BY RAND()
        LIMIT 1
    </select>

    <select id="selectBySubjectId" resultType="com.studyagent.entity.Question">
        SELECT * FROM t_question
        WHERE subject_id = #{subjectId}
        AND del = 0
        ORDER BY id
    </select>

</mapper>
